@page "/"
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Dashboard</PageTitle>

<section class="starter-page">
    <MudText Typo="Typo.h4" Class="starter-page__message">This is starter page</MudText>
</section>
