.main-content {
    padding: 2rem;
}

.page-title-box {
    margin-bottom: 2rem;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 800;
}

.nav-tabs .nav-link.active {
    border-bottom: 3px solid #137fec;
    color: #137fec;
}

.card {
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 1px solid #e0e0e0;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 700;
}
